
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


 body {
    max-width: 1400px;
    height: 1800px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;

    
 }

 .qrcode-container  {
   
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 20px;
    
}

img {
   margin-bottom: 15px;
}

.qrcode-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    margin-bottom: 15px;
   
}
img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    width: 85%;
}



 @media screen and (max-width: 375px) {

    body {
        height: 667px;
    }
    
    .qrcode-container  {
        width: 80%;
    }


 }